body{
  margin:0px;
  padding:0;
  position: relative;
  height: 100vh;
}
nav{
  position:relative;
  top:-25px;
  width:100%;
  height: 50px;
  font-size:24px;
  background: #0197cc;
}
nav ul{
  list-style: none;
}
nav li{
  float:left;
  padding:10px 30px;
  color:white;
}
#main-section{
  position:relative;
  width:100%;
  height: 100vh;
}
#side-bar{
  position:absolute;
  top:-25px;
  width:20%;
  height: 100vh;
  background: #303946;
}
.pro-name{
  position: relative;
  top:-25px;
  width:100%;
  background: #455264;
  color:white;
  font-size: 20px;
  text-align: center;
}
.pro-info{
  position: relative;
  top:-50px;
  width:100%;
  height:100px;
  background:#303946;
}
.nav-info{
  position: relative;
  top:-85px;
  width:100%;
  background:#303946;
  color:white;
  text-align: center;
  font-size: 24px;
}
.fa-user{
  color:white;
  font-size: 50px;
  margin:20px 0 0 10px;
}

#project-section{
  position:relative;
  top:-25px;
  width:80%;
  height: 100vh;
  float: right;

}

input{
  padding:10px;

}
#formfield{
  margin-left: 50px;

}
#storageOutput{
  width:100%;
  height:auto;
}

a{
  text-decoration: none;
}
